<section class=" m-6 p-4 gap-7 opacity-80 hover:opacity-100">
    <div class="mx-auto text-center p-5 mb-8 lg:mb-16 w-auto bg-west-side-800 rounded-3xl drop-shadow-lg ">
        <h3 class=" text-center font-bold text-3xl underline text-west-side-400   tracking-wider ">
            Sobre Mí 
        </h2>
        <div>
            <p class=" text-xl text-west-side-50">
                Soy estudiante de la universidad de Buenos Aires en busca de trabajo como desarrollador que me permita seguir aprendiendo y ganar experiencia laboral. 
            </p>
        </div>
    </div>
</section>