<section class=" m-6 p-4 gap-7 opacity-80 hover:opacity-100 ">
    <div class="mx-auto text-center p-5 mb-8 lg:mb-16 w-auto bg-west-side-800 rounded-3xl drop-shadow-lg ">
        <h3 class=" text-center font-bold text-3xl underline text-west-side-400   tracking-wider ">
            Contacto 
        </h2>
        <div class=" text-west-side-50 text-3xl mt-4 gap-2 ">
            <a class=" opacity-70  hover:opacity-100" href="https://github.com/ivanimbelloni" target="_blank" rel="noopener noreferrer"> GitHub</a>
            <a class=" opacity-70  hover:opacity-100" href="https://www.linkedin.com/in/ivan-imbelloni/" target="_blank" rel="noopener noreferrer">Linkedin</a>
        </div>
    </div>
</section>