---

---
<header class=" py-4 px-2 mx-auto max-wl-xl lg:py-16 lg:px-6">
    <div class=" mx-auto text-center mb-8 lg:mb-16">
        <h1 class=" mb-4 text-6xl tracking-tigh font-extrabold text-west-side-950 ">
            Ivan Imbelloni     
        </h1>    
        <h2 class="mb-4 text-3xl tracking-tigh font-extrabold text-west-side-200 ">
            Front-End Developer 🚀
        </h2>
    </div>
</header>